<html>

<head>

  <title>Message Posted</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>Your Message Has Been Posted!</h1>
  <h2>Click on 'Show All Messages' above to see messages from everyone!</h2>

  <table class="table_new_message">

    <thead scope="row">
      <tr>
        <td class="column_1">Nickname:</td>
        <td class="column_1">Title:</td>
        <td class="column_2">Message:</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="column_3">
        <%= data.nickname %>
      </td>
        <td class="column_3">
        <%= data.title %>
      </td>
        <td class="column_4">
        <%= data.yourmessage %>
      </td>
      </tr>
    </tbody>
  </table>

</body>

</html>
