<html>

<head>

  <title>Show All Messages</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <h1>Your Messages Here!</h1>

  <table class="table_all_messages">

    <thead scope="row">
      <tr>
        <td class="column_1">Nickname:</td>
        <td class="column_1">Title:</td>
        <td class="column_2">Message:</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% for(var i=0; i < data.length; i++) { %>
        <td class="column_3">
          <%= data[i].screenname %>
        </td>
        <td class="column_3">
          <%= data[i].title %>
        </td>
        <td class="column_4">
          <%= data[i].body %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

</body>

</html>
